html {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #202326;
  color: #e0e0e0;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
#content {
  height: 90vh;
  overflow: auto;
  white-space: pre;
  font-family: monospace;
}

 #wrapper{
    min-width: 100%; 
    overflow: visible;
    display: inline-block;
  }

.log-line {
  width: 100%;
  padding: 0.2em 0;
  border-top: 1px solid #4b4b4b;
}

.log-line.type-transaction {
  color: #5ee75e;
}

.log-line.level-1 {
  color: red;
}

.log-line.warning {
  color: orange;
}
.log-line:hover {
  background-color: #303030
}

.log-line.selected {
  background-color: #505050;
}
.log-line.component-logSocket {
  color: #c48eff;
}
.log-line.component-jwksCache {
  color: #e7a15e;
}

