html {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #202326;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

#content {
  cursor: pointer;
  overflow: auto;
  text-wrap-mode: nowrap;
  font-family: monospace;
  border: 1px solid #4b4b4b;
  width: 400px;
  flex: 3 1 auto;
}

#wrapper {
  min-width: 100%;
  /* overflow: visible; */
  display: table;
}

.log-line {
  width: 100%;
  padding: 0.2em 0;
  border-bottom: 1px solid #4b4b4b;
}

.log-line[data-type="transaction"] {
  color: #5ee75e;
}

.log-line[data-level="1"] {
  color: red;
}

.log-line[data-level="2"] {
  color: orange;
}

.log-line:hover {
  background-color: color-mix(in srgb, currentColor 15%, transparent);
}

.log-line.selected {
  background-color: color-mix(in srgb, currentColor 40%, transparent);
}

.log-line[data-component="logSocket"] {
  color: #c48eff;
}

.log-line[data-component="jwksCache"] {
  color: #e7a15e;
}

.log-line[data-component="static"] {
  color: #808080;
}

.split-container {
  flex: 1;
  min-height: 0;
  display: flex;
  overflow: auto;
}

.splitter {
  width: 6px;
  background-color: transparent;
  cursor: ew-resize;
}
.splitter:hover,
.splitter.dragging {
  background-color: #303054;
}

#detail {
  width: 200px;
  flex: 1 1 auto;
  overflow: auto;
  border: 1px solid #4b4b4b;
}

#header {
  /* Optional: set a fixed height or padding */
  padding: 1em;
  font-size: 1.2em;
  /* background: #23233a54; */
  /* border-bottom: 1px solid #444; */
}

#wrap-label {
  cursor: pointer;
}
